body {
    overflow: hidden;
}
.all {
    overflow: auto;
    background-color: #0f43ab;
    // padding-right: ;
}

.index_body {
    background-color: #f7f8fa;
    width: 100%;
    // height: 1500px;
    display: flex;
    justify-content: center;
    // margin-top:12px ;
    // padding-left: calc(100vw - 100%);
    padding: 0 0 0 21px;
    main {
        background-color: greenyellow;
        margin: 0 auto 0px;
        // width: 1000px;
        height: 3000px;
        // margin-top:12px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #sec_box {
            width: 256px;
            height: 500px;
            margin-left: 10px;
            background-color: coral;
        }
    }
}

#main_box {
    width: 734px;
    // height: 2000px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;
    .cards {
        display: flex;
        width: 734px;
        height: 152px;
        // background-color: #b7c940;
        background-color: #ffffff;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
        .discuss_card {
            background-color: rgb(22, 133, 87);
            width: 330px;
            border-radius: 8px;
            // height: 152px;
            padding: 16px;
            // box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
        }
    }
    #ad_lccup_box {
        margin-top: 10px;
        // display: flex;
        a {
            // border-radius: 13px;
            img {
                border-radius: 13px;
                width: 100%;
            }
        }
    }
    
}

.articles {
    width: 734px;
    // width: 100%;
    height: 300px;
    background-color:  rgb(156, 32, 32);
    margin-top: 12px;
    #companys {
        background-color: #0f43ab;
    }

}

