.all {
  width: 100%;
  min-width: 992px;
}
#top_header {
  height: 50px;
  /* background-color: rgb(33, 255, 255); */
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 0 0 0 21px;
  z-index: 9;
}
#top_header .header {
  width: 1152px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#top_header .header .nav_left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 494px;
}
#top_header .header .nav_left .nav_item {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
#top_header .header .nav_left .nav_item li {
  margin-left: 31.5px;
  height: 24px;
  width: 36px;
}
#top_header .header .nav_left .nav_item li a {
  line-height: 24px;
  font-family: "PingFang SC";
  font-size: 16px;
  text-decoration: none;
  color: #5c5c5c;
  text-align: center;
  font-weight: 400;
}
#top_header .header .nav_left .nav_item .shop {
  width: 62.5px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffa119;
}
#top_header .header .nav_left .nav_item .shop div {
  color: #ffa119;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
#top_header .header .nav_left .nav_item .shop div .svg_shop_icon {
  color: #ffa119;
  fill: currentcolor;
}
#top_header .header .nav_left .nav_item .icon_logo {
  height: 24px;
  width: 62.5px;
  margin-left: 0;
}
#top_header .header .nav_right {
  height: 100%;
  display: flex;
  align-items: center;
  width: 303px;
}
.nav_right .vip_btn {
  background-color: #0000000D;
  color: #ffa116;
  border: none;
  width: 81px;
  height: 32px;
  padding: 1px 6px;
  margin-right: 10px;
  border-radius: 5px;
}
.nav_right .company_version {
  background-color: transparent;
  color: #007aff;
  border: solid 1px;
  width: 52px;
  height: 28px;
  margin-right: 10px;
  border-radius: 3px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav_right .company_version span {
  font-size: 12px;
}
.nav_right #svg_phone {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: #2db55d;
}
.nav_right .shuxian {
  width: 1px;
  height: 20px;
  background-color: #5c5c5c;
}
.nav_right #authlinks {
  display: flex;
  margin-left: 20px;
}
.nav_right #authlinks div {
  margin: 0 12px;
  color: #8c8c8c;
  font-size: 13px;
  line-height: 1.42857;
}
.nav_right #authlinks a {
  text-decoration: none;
  color: #595959;
  font-size: 13px;
}
