// body {
//     overflow: hidden;
// }
.shadows {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.all {
    // overflow: auto;
    background-color: #f7f8fa;
    // padding-right: ;
}

.index_body {
    // background-color: #f7f8fa;
    // background: rgba(var(--dsw-layer-bg-rgb), 1);
    width: 100%;
    // height: 1500px;
    display: flex;
    justify-content: center;
    // margin-top:12px ;
    // padding-left: calc(100vw - 100%);
    padding: 0 0 0 21px;
    main {
        // background-color: greenyellow;
        margin: 0 auto 0px;
        // width: 1000px;
        height: 1500px;
        // margin-top:12px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#main_box {
    width: 734px;
    // height: 2000px;
    // background-color: aqua;
    // background-color: #f7f8fa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;
    .cards {
        display: flex;
        width: 734px;
        height: 152px;
        // background-color: #b7c940;
        // background-color: #fff;
        justify-content: space-between;
        // box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
        .discuss_card {
            // background-color: rgb(22, 133, 87);
            // background-color: #f7f8fa;
            width: 330px;
            background-color: #fff;
            border-radius: 8px;
            // height: 152px;
            padding: 16px;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
            box-shadow: 0 2px 8px rgba(var(0,0,0), 0.08),0 1px 2px rgba(var(0,0,0), 0.1);

            header {
                
                height: 24px;
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                }
                .hot_dis {
                    color: #ffa116;
                    font-size: 12px;
                    line-height: 20px;
                    background-color: #fff1dc;
                    border-radius: 12px;
                    padding: 2px 8px;
                }
            }
            div {
                margin: 16px 0;
                font-size: 14px;
                color: #5c5c5c;
                height: 40px;
            }
            footer {
                padding: 3px 0;
                height: 18px;
                align-items: center;
                display: flex;
                span {
                    height: 18px;
                    display: flex;
                    align-items: center;
                    div {
                        height: 18px;
                    }
                    .user_icon {
                        height: 14px;
                        width: 14px;
                    }
                }
                .users_num {
                    margin-left: 5px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #8c8c8c;
                }
                .enter_to_dis {
                    color: #007aff;
                    // position: absolute;
                    margin-left: 90px;
                    font-size: 14px;
                    line-height: 20px;
                    align-items: center;
                }
            }

        }
    }
    #ad_lccup_box {
        margin-top: 12px;
        display: block;
        // display: flex;
        a {
            // border-radius: 13px;
            img {
                border-radius: 13px;
                width: 100%;
            }
        }
    }
    
}