// main {
//     background-color: gray;
//     padding-right: 21px;
// }

.all {
    // background-color: #f7f8fa;
    width: 100%;
    height: 1800px;
    min-width: 992px;
}
#top_header {
    height: 50px;
    /* background-color: rgb(33, 255, 255); */
    // box-shadow: 0px 5px 5px rgb(230, 231, 233);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 0 0 0 21px;
    z-index: 9;

    .header {
        width: 1152px;
        height: 100%;
        // background-color: rgb(135, 182, 122);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        // flex-direction: row;
        .nav_left {
            // background-color: pink;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 494px;
            .nav_item {
                
                display: flex;
                list-style-type: none;
                align-items: center;
                // justify-content: space-around;
                justify-content: space-between;
                li {
                    margin-left: 31.5px;
                    height: 24px;
                    width: 36px;
                    // height: 100%;
                    a {
                        line-height: 24px;
                        font-family: "PingFang SC";
                        font-size: 16px;
                        text-decoration: none;
                        color: rgb(92, 92, 92);
                        text-align: center;
                        font-weight: 400;
                        // cursor: pointer;
                        .icon {
                            width: 20px;
                            height: 24px;
                        }
                        
                    }
                    

                }
                .shop {
                        display: flex;
                        justify-content: space-between;
                    }
                .icon {
                    height: 24px;
                    width: 62.5px;
                    margin-left: 0;
                    // path {
                    //     width: 10px;
                    //     height: 5px;

                    // }
                }
            }
        }
        .nav_right {
            // background-color: rgb(106, 184, 184);
            height: 100%;
            display: flex;
            align-items: center;
            width: 303px;
        }
    }
}


.nav_right {
    .vip_btn {
        background-color: #0000000D;
        color: #ffa116;
        border: none;
        width: 81px;
        height: 32px;
        // margin: 0 10px 0 0 ;
        padding: 1px 6px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .company_version {
        background-color: transparent;
        color: rgb(0, 122, 255);
        border: solid 1px;
        width: 52px;
        height: 28px;
        margin-right: 10px;
        border-radius: 3px;
        line-height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 12px;
        }
        // span {
            
        // }
    }
    #svg_phone {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        color: rgb(45,181,93);
    }
    .shuxian {
        width: 1px;
        height: 20px;
        background-color: rgb(92, 92, 92);
    }
    #authlinks {
        display: flex;
        margin-left: 20px;
        div {
            margin: 0 12px;
            color: #8c8c8c;
            font-size: 13px;
            line-height: 1.42857;
        }
        a {
            text-decoration: none;
            color: #595959;
            font-size: 13px;
        }
    }
}