.chats {
    width: 256px;
    margin-bottom: 10px;
    border-radius: 8px;
}


#sec_box {
    width: 256px;
    height: 500px;
    margin-left: 10px;
    // background-color: coral;
    // display: flex;
    #search_box {
        // display: flex;
        background-color: #ffffff;
        width: 256.4px;
        height: 38.4px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, 
        rgba(0, 0, 0, 0.08) 0px 2px 8px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .slider {
        width: 256px;
        height: 128px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px, 
        rgba(0, 0, 0, 0.08) 0px 2px 8px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    #chat1 {
        background: #fff;
        // background-color: blue;
        width: 224px;
        height: 36px;
        margin-bottom: 10px;
        padding: 16px;
        border-radius: 8px;
        box-shadow:0 2px 8px rgba(0,0,0, 0.08),0 1px 2px rgba(0,0,0, 0.1);
        display: flex;
        justify-content: space-between;
        a {
            
            height: 100%;
            text-decoration: none;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            span {
                display: flex;
                align-items: center;
                svg {
                    width: 20px;
                    height: 20px;
                    padding: 8px;
                    border-radius: 50%;
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
        #ct1 {
            span {
                color: #2db55d;
                .svg_chat1_ct1 {
                    background: #2db55d;
                    box-shadow: rgba(0, 255, 90, 0.2) 0px 4px 12px;
                }
            }
        }
        #ct2 {
            span {
                color: #af52de;
                .svg_chat1_ct2 {
                    background: #af52de;
                    box-shadow: rgba(204, 103, 255, 0.4) 0px 4px 12px;
                }
            }
        }
    }
    #chat2 ,#chat3{
        div {
            padding: 16px 16px 4px;
            header {
                color: #5c5c5c;
                height: 20px;
                font-size: 14px;
                line-height: 20px;
            }
            div {
                padding: 0;
                margin-top: 10px;
                div {
                    margin-top: 0px;
                    padding: 6px;
                    margin-bottom: 4px;
                    font-size: 14px;
                    div {
                        font-size: 12px;
                        line-height: 20px;
                        padding: 0px;
                        margin: 0px;
                        color: #bebec1;
                        margin-top: 2px;
                    }
                }
            }
        }
        
    }
    #chat3 {
        div {
            padding: 16px 16px 4px;
        }
        
    }
}